
.mui-bar .mui-title{
	width: 100%;
	left: 0px;
	right: 0px;
	
}
.mui-bar .mui-title input{
	width: 90%;
	margin: 0px auto;
	border-radius: 25px;
	text-align: left;
	padding-left: 35px;
}
.mui-bar .mui-title span{
	position: absolute;
	top: 10px;
	left: 25px;
}