/* #g-body {
    height: 100vh;
} */

#g-body #g-header {
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 99;
    background-color: #fff;
}

#g-body #g-middle {
    margin-top: 1.875rem;
    margin-bottom: 3.125rem;
}

#g-body .mui-slider>div>a {
    color: #3C3C3C;
}

#g-body .mui-slider>div>a.mui-active {
    color: #FF0000;
}

#g-body .mui-slider .mui-slider-group .box {
    overflow: scroll;
}

#g-body .mui-slider .mui-slider-group>#a1>div.box {
    display: flex;
    justify-content: space-around;
}

#g-body .mui-slider .mui-slider-group>#a1 ul {
    width: 47%;
    margin: 0.3125rem auto;
    flex-direction: column;
    align-items: flex-start;
}

#g-body .mui-slider .mui-slider-group>#a1 ul:last-child {
    margin-right: 0.625rem;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li {
    width: 100%;
    padding-top: 0rem;
    padding-left: 0rem;
    border-radius: 0.625rem;
    margin: 0rem 0.3125rem;
    background-color: #fff;
    padding-bottom: 0.3125rem;
    margin-bottom: 0.625rem;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li>img {
    width: 100%;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li>p {
    color: #3C3C3C;
    font-size: 0.75rem;
    padding-left: 0.5rem;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li>div>p>img {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 0.5rem;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li>div>p>span.name {
    font-size: 0.75rem;
    color: #3C3C3C;
    padding-left: 0.1875rem;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li>div>p {
    position: relative;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li>div>p>a>span.iconfont {
    position: absolute;
    top: 0rem;
    right: 0.625rem;
    font-size: 1rem;
    display: block;
    color: #3C3C3C;
}

#g-body .mui-slider .mui-slider-group>#a1 ul>li>div>p>a>span.hong {
    color: #FF0000;
    display: none;
}

#g-body .mui-slider .mui-slider-group>#a1,
#g-body .mui-slider .mui-slider-group>#a1::before {
    background-color: transparent;
    border-bottom: none;
    border-top: none;
}

#g-body .mui-slider .mui-slider-group>#b1,
#g-body .mui-slider .mui-slider-group>#b1::before {
    background-color: transparent;
    border-bottom: none;
    border-top: none;
}

#g-body .mui-slider .mui-slider-group>#c1,
#g-body .mui-slider .mui-slider-group>#c1::before {
    background-color: transparent;
    border-bottom: none;
    border-top: none;
}

#g-body .mui-slider .mui-slider-group>#d1,
#g-body .mui-slider .mui-slider-group>#d1::before {
    background-color: transparent;
    border-bottom: none;
    border-top: none;
}

#g-body .mui-slider .mui-slider-group>#b1>.box>ul>li {
    border-radius: 0.625rem;
    margin-top: 0.625rem;
    background-color: #fff;
    height: 100%;
    padding-bottom: 0.3125rem;
}

#g-body .mui-slider .mui-slider-group>#b1>.box>ul>li>a {
    padding-top: 0rem;
    padding-left: 0rem;
}

#g-body .mui-slider .mui-slider-group>#b1>.box>ul>li>a>div {
    color: #3C3C3C;
}

#g-body .mui-slider .mui-slider-group>#c1 {
    margin-top: 1.25rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.top {
    height: 3.125rem;
    position: relative;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.top>input {
    width: 96%;
    height: 2.1875rem;
    margin: 0rem auto;
    margin-left: 0.625rem;
    text-align: left;
    padding-left: 1.875rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.top>span.mui-icon {
    position: absolute;
    left: 0.9375rem;
    top: 0.4375rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.top>span.font {
    position: absolute;
    right: 1.25rem;
    top: 0.625rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.hot-search {
    height: 7.5rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.hot-search>p {
    height: 1.875rem;
    line-height: 1.875rem;
    padding-left: 0.625rem;
    color: #3C3C3C;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.hot-search>ul {
    width: 96%;
    margin: 0rem auto;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.hot-search>ul>li {
    float: left;
    width: 18%;
    margin-right: 0.375rem;
    margin-bottom: 0.3125rem;
    text-align: center;
    height: 1.5625rem;
    line-height: 1.5625rem;
    border-radius: 0.3125rem;
    border: 1px solid #3C3C3C;
    background-color: transparent;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.hot-search>ul>li>a {
    color: #3C3C3C;
    font-size: 0.75rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box {
    width: 96%;
    margin: 0rem auto;
    height: 18.75rem;
    margin-top: 1.25rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li:first-child {
    margin-right: 0.3125rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li:last-child {
    margin-right: 0rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li {
    width: 49%;
    height: 100%;
    float: left;
    position: relative;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li>img {
    width: 100%;
    height: 100%;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li>div.cover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    background-color: rgba(0, 0, 0, 0.3);
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li>div.cover>h2 {
    margin-top: 1.5625rem;
}

#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li>div.cover>h2,
#g-body .mui-slider .mui-slider-group>#c1>.box>.img-box>ul>li>div.cover>p {
    width: 100%;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

#g-body .mui-slider .mui-slider-group>#d1 .mui-slider-item {
    border: none;
}